body {
  background-image: url("71B_9638.JPG");  background-repeat: no-repeat;  background-position: center;  background-size: cover;  margin: 0;  }

.p1 {
font-family: sans-serif, "lucidia handwriting", cursive;
}

.heading {
font-family: lobster, "lucidia handwriting", cursive;
font-weight: 400;
font-style: normal;
}

