body {
  background-image: url("a737.jpg");  background-repeat: no-repeat;  background-position: center;  background-size: cover;  margin: 0;  }

.p1 {
font-family: sans-serif, "lucidia handwriting", cursive;
}

.heading {
font-family: sans-serif, "lucidia handwriting", cursive;
}

.p1 {
 font-size: 2vw;
}
